@use '../base/variables' as v;

.footer{
    padding: calc(v.$separacion / 2) 0; // 0 izquierda y derecha
    background-color: v.$grisOscuro ;

    .contenido-footer{
        padding-top:  calc(v.$separacion / 2);
    }

    .copyright{
        color:v.$blanco;
        text-align: center;
    }
}